[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
openai = "==0.28.0"
chromadb = "*"
pandas = "*"
langchain = "*"
fastapi = "==0.100.0"
uvicorn = "==0.22.0"
gunicorn = "==20.1.0"
tiktoken = "*"
unstructured = "*"

[dev-packages]

[requires]
python_version = "3.11"
